/*

Zoom Template

http://www.templatemo.com/tm-414-zoom

*/

body, html { overflow-x:hidden; }

body {
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Raleway', sans-serif;
    font-style: normal; 
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6, span, p { font-family: 'Raleway', sans-serif; }

.blue { color: #6CF; }

.green { color: #CF0; }

h2 {
	padding: 10px 0;
}

p {
	padding: 10px 0;
	text-align: justify;
}

a {
	color: #FF6;
}

a:hover {
	color: #F60;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}
/* Preloader */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff; /* change if the mask should have another color then white */
    z-index: 99; /* makes sure it stays on top */
}

#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%; /* centers the loading animation horizontally one the screen */
    top: 50%; /* centers the loading animation vertically one the screen */
    background-image: url(../images/status.gif); /* path to your loading animation */
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px; /* is width and height divided by two */
}

/*general*/
#main-wrapper {
     overflow: hidden;
}

.templatemo-logo {
	z-index: 1;
}
.templatemo-site-title { 
    color: #fff !important; 
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 1);
}

.templatemo-site-title a {
	color: #fff;
	text-decoration: none;
}

.templatemo-site-title a:hover {
	text-decoration: none;
}


img.slide {
    width: 100%; 
    z-index: -9999999; 
    position: absolute;
}

.active {
    display: block;
}

.inactive {
    /* left: 703px; */
    display: none;
}

.image-section {
    position: fixed;
}

.image-container {
    position: relative;
}

.image-container img {
    position: absolute;
}

.templatemo-content {
    position: static;
    overflow: hidden; 
    margin-top: 12%;
    padding-bottom: 6%;
}

.black-bg {
    background-color: rgba(0,0,0,0.8);
    border-radius: 0 40px;
    box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
}
.black-bg:before, .black-bg:after {
    content: "";
    display: table;
    line-height: 0;
}
.black-bg:after {
    clear: both;
}

.black-bg-1 {
    background-color: rgba(0,0,0,0.8);
    border-radius: 40px 40px 0 0;
    box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
}
.black-bg-1:before, .black-bg-1:after {
    content: "";
    display: table;
    line-height: 0;
}
.black-bg-1:after {
    clear: both;
}

.black-bg-2 {
    background-color: rgba(0,0,0,0.8);
    /* border-radius: 40px 40px 0 0; */
    box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
}
.black-bg-2:before, .black-bg-2:after {
    content: "";
    display: table;
    line-height: 0;
}
.black-bg-2:after {
    clear: both;
}

.black-bg-3 {
    background-color: rgba(0,0,0,0.8);
    border-radius: 0 0 40px 40px;
    box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
}
.black-bg-3:before, .black-bg-3:after {
    content: "";
    display: table;
    line-height: 0;
}
.black-bg-3:after {
    clear: both;
}

    
.templatemo-content section {
    font-family: 'Raleway', sans-serif;
    position: relative; 
    overflow: hidden;
    top: 0; 
    padding-bottom: 20px;
}


.templatemo-content-wrapper {
    overflow:hidden;
}

.templatemo-content h2 {
    color:#fff;
    font-family: 'Raleway', sans-serif;
    
}

.templatemo-content p {
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-size: 16px;
}

#map-canvas {
	height: 260px;
}


.footer {
    overflow:hidden; 
    position:fixed; 
    bottom: 10px;
}

.footer-text {
    font-family: 'Raleway', sans-serif; 
    color:#fff7; 
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 1);
    margin-left: 30px;
    font-size: 14px;
}

.footer-text a{
    color:#d1f6238c;
    font-style: bold;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.btn-menu {
    padding: 20px 0;
    text-align: center;
}

.btn-menu > .fa {
    font-size: 50px;
    margin: 20px 0;
}
.btn-menu > h2 {
    margin: 0;
    font-size: 18px;
}

.change-section {
    color: #fff;
    text-decoration: none;
}

.change-section .black-bg {
    transition: all 0.4s ease;
}

.change-section .black-bg > h2 {
    transition: all 0.4s ease;
}

.change-section:hover {
    text-decoration: none;
    color: #246BB2;
}

.change-section:hover .black-bg {
    background-color: rgba(255,255,255,0.8);
    border-radius: 40px 0;
    box-shadow: 5px 3px 7px rgba(68, 42, 42, 0.5);
}

.change-section:hover .black-bg > h2 {
    color: #246BB2;
}

@media (max-width: 991px) {
    .footer {
        overflow:hidden; 
        position:static;
        text-align: center;
    }
    
    .footer-text {
        margin-left: 0;  
    }
}

 .fas{
        margin: 20px 0;
        font-size: 5em;
    }

    .images-container {
        position: relative;
        width: 100%;
    }

    .images{
        display: block;
        width: 100%;
        height: auto;
    }

    .images-overlay{
        position: absolute;
        bottom: 0;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5); /* Black see-through */
        color: #f1f1f1;
        width: 100%;
        transition: .5s ease;
        /* opacity:0; */
        color: white;
        font-size: 20px;
        padding: 20px;
        text-align: center;
    }

    .c-container {
        display: flex;
        width: 100%;
        padding: 4% 2%;
        box-sizing: border-box;
        height: 40vh;
    }

    .c-box {
        flex: 1;
        overflow: hidden;
        transition: .5s;
        margin: 0 0.5%;
        box-shadow: 6px 6px 8px rgb(0, 0, 0);
        line-height: 0;
        border-radius: 0 40px;

    }

    .c-box > a > img {
        width: 200%;
        object-fit: cover; 
        transition: .5s;
    }

    .c-box > span {
        font-size: 3.8vh;
        display: block;
        text-align: center;
        height: 10vh;
        line-height: 2.6;
        color: white;
        position: absolute;
        bottom: 6.5vh;
        padding-left: 8pt;
        padding-right: 8pt;
        background-color: #000d;
        border-radius: 40px;
    }

    .c-box:hover > span {
        opacity: 0;
    }

    .c-box:hover { flex: 1 1 50%; }
    .c-box:hover > a > img {
        width: 100%;
        height: 100%;
    }

    .margin-top-5vh{
        margin-top: 5vh;
    }

    .mt-2{
        margin-top: 2vh;
    }

    @media only screen and (max-width: 2048px) {
        h4{
            font-size: 14px;
        }
    }

    @media only screen and (max-width: 767px) {
        h4{
            font-size: 18px;
        }
    }

    .link-tautan {
        font-size: 13pt;
        text-align: center;
        color: #fff;
        transition: 0.1s ease-in;
    }


    .link-tautan > i:hover {
        text-align: center;
        color: rgb(175, 225, 238);
        transform: scale(1.1);
        transition: 0.1s ease-in;
    }

    .black-bg-2{
        padding: 20px 5px;
        text-align: center;
    }

    .black-bg-3{
        padding: 20px 5px;
        text-align: center;
    }

    .img-container > a > img {
        width: 115%;
        height: auto;
        transition: 0.2s ease-in;
        object-fit: cover;
    }

    .img-container > a > img:hover {
        width: 155%;
        transition: 0.2s ease-in;
    }

    .profile-img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

    .white-bg {
        background-color: #00000060;
        padding: 20px 16px;
        border-radius: 20px;
        color: #000;
        box-shadow: -1px 2px 10px #0005;
    }

    .upgrade-img {
        width: 100%;
        padding: 2px;
        height: 370px;
        overflow: hidden;
        border-radius: 20px;
        box-shadow: 4px 4px 4px #0008;

    }

    .img-container{
        height: 225px;
        background-color: #000;
        box-shadow: 5px 8px 12px #000d;
        border-radius: 20px 20px;
        overflow: hidden;
    }

    .upgrade-img > a > img {
        transform: translate(-132px);
        height: 100%;
    }